{% extends "shop/base.html"%}
{%load crispy_forms_tags %}
    {% block title %}
        {{title}}
    {% endblock title %}
    
    {% block main_path%}
    <div class="container">
        <div class="form-section">
            <h2> hi {{request.user.username}}</h2>    
            <p><b>Последний раз был: </b> {{request.user.last_login}}</p>
            <p><b>зарегистрирован </b> {{request.user.date_joined}}</p>
           <img src="{{request.user.image.url}} " alt="">     
        </div>
    <div class="btn-btn-warning">
        <a href="{%url 'change_user_information'%}">change user information
        </a>
    </div>    
    </div>
    {% endblock main_path %}

