<!doctype html>
{% load static %}
{% load staticfiles %}

<html lang="en">
  <head>
      <script src="http://userapi.com/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    <link rel=”stylesheet” href=”{% static 'shop/main.css' %}”>
                        <title>
                          {% block title %}
                          {%  endblock %}
                          </title>
    </head>

          <body>
              <div class="container"> 
                  <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <div class="col-md-2">
                          <a class="navbar-brand" href="{% url 'home' %}">Home</a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                        <div class="col-md-2">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'list' %}">Goods</a>
                            </li>
                                
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                  </li>
                                   {% if user.is_authenticated %}
                        <div class="col-md-8">
                                  <li class="nav-item">
                                    <a class="nav-link " href="{% url 'profile' %}">Profile</a>
                                  </li>
                                  
                                  <li class="nav-item">
                                    <a class="nav-link" href="{% url 'show_cart_items' %}">purchases in cart </a>
                                  </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'exit' %}">Exit</a>
                                  </li>
                         </div>        
                         </div>        
                         </div>        
                         </div>        
                                     {% else %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'reg' %}">registation</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">login</a>
                                  </li>
                                       {% endif %}  

                                </ul>
                              </div>
                          </div>
                      </div>
                    </nav>





                
               <div class="container">                       
                       <div class="col-md-8">
                           {%if messages %}
                       {%for messaga in messages%}
                           <div class="alert alert-success">
                               {{messaga}}
                           </div>
                       </div>

                               {%endfor%}
                           {%endif%}
                       {%block main_path%}
                       <p>{{n}}</p>
                       {%endblock%}

                   </div>
               </div>


          </body>
</html>
