<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>
      {% block title %}
      {%  endblock %}
  </title>
  </head>
  
          <body>
                <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item" ><a href="#">Data</a></li>
                        <li class="breadcrumb-item" ><a href="{% url 'list' %}">all</a></li>
                            <div class="container">                       
                                    <div class="mr-3">
                                <li class='breadcrumb-item-float-right ' ><a href="{% url 'reg' %}">registation</a></li>
                                        <li class='breadcrumb-item-float-right ' ><a href="{% url 'reg' %}">log out</a></li>
                                    </div>     
                                  </div>
                    </ol>
                </nav>

                
                
               <div class="container">                       
                   <div class="m-5 p-4">
                       {%block main_path%}
                        {{name}}
                            <img src="{% static '/static_pic/shop/1.jpg'%}" alt="">
                            {%endblock%}
                   </div>
               </div>


          </body>
</html>
