{% extends "shop/base.html" %}
    {% load static %}
        {% block title %}
            {{title}}
        {% endblock %}
            {%block main_path %}
                <div class="container">
                    <div class="column">
                        <div class="mr-3">
                            <p>products</p>
                                {%for pr in products%}
                                    {{pr.name}}
                                    <img class="mr-2 rounded" src="{{product.image.url}}"style="width:500px;height:400px;">        
                                {% endfor %} 
                        </div>
                    </div>
                </div>
        {% endblock main_path %}
