{% extends "shop/base.html"%}
{% load static %}
    {% block title %}
        {{title}}
    {% endblock title %}  
    {% block main_path%}
    <div class="slidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                            <h2>Categories</h2>
                        <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
        <div class="row">
                <div class="col-md-4">
                        <ul>
                            <li>{% if not category %} {% endif %}
                                <a href="{% url  'list' %}">Goods</a>
                            </li>
                                {% for c in categories %}
                            <li>
                                {% if category.slug == c.slug %} {% endif %}
                                    <a href="{{c.get_absolute_url}}">{{c.name}}</a>
                                                
                                                </li>
                                                {%endfor%}

                         </ul>
                </div>
        </div>
<div>
    <div class="row">
            <div class="col-md-4">    
                <h2>available products</h2>
            </div>
    </div>
                {% for product in products %}
                <div class="row">
                    <div class="col-md-1 col-md-3-offset-4">
                        <h4>category</h4>
                            <h6>{{product.category}}</h6>
                    </div>
                     <!----  <div class="product">
                            <h6>{{product.name}}</h6>
                        </div>
                </div>
                      <div class="mx-auto w-25">
                          <img class="mr-2 rounded" src="{{product.image.url}}"style="width:500px;height:400px;">        
                      </div>
                    <div class="mr-4">
                        {{product.price}}
                    </div>
                        <a href="{{product.get_absolute_url}}"  target = _blank
                            <button class="btn btn-warning">подробнее</button>
                        </a>
                            <hr>
                            {% endfor %}
                            {% endblock main_path %} ------>



