{% extends "shop/base.html" %}
    {% load static %}
        {% block title %}
            {{product.name}}
        {% endblock %}
        {%block main_path %}
        <div class="product_detail">        
            <div class="container">
                <img src="{% if product.image %}{{product.image.url}}{% else %}{% static "products/img/default.jpg" %}{% endif %}alt="">
                <p class="price">${{product.price}}</p>
                    <input type="submit" value = "Добавить в корзину">
                </form>
                {{product.description|linebreaks}}
            </div>
        </div>
        {% endblock main_path %}
