{% extends "shop/base.html" %}
    {% load static %}
        {% block title %}
            {{product.name}}
        {% endblock %}
        {%block main_path %}
            <div class="container">
                <a class="btn btn-lg btn-primary" href="{% url "list" %}" role="button">Back to list</a>
                    <img class="mr-2 rounded" src="{{product.image.url}}"style="width:500px;height:400px;">        
                        <p class="price">${{product.price}}</p>
                             <form action="{% url "cart_add" product.id %}" method="post">
     {{ cart_product_form }}
     {% csrf_token %}
     <input type="submit" value="Add to cart">
</form>                            {{product.description|linebreaks}}
                        </div>
                </div>
        {% endblock main_path %}
