{% extends "shop/base.html" %}
    {% load static %}
        {% block title %}
            {{product.name}}
        {% endblock %}
        {%block main_path %}
        <form method = "POST">
                <div class="product_detail">
            <div class="container">
                <img src="{{product.image.url}}"alt="">
                <p class="price">${{product.price}}</p>
                    <a href="{% url 'add'%}"></a>
                </form>
                {{product.description|linebreaks}}
            </div>
        </div>
        {% endblock main_path %}
